$white:             #fff;
$grey-lightest:     #f2f2f2;
$grey-lighter:      #bdbdbf;
$grey-light:        #949498;
$grey:              #6c6c72;
$grey-dark:         #454548;
$grey-darker:       #2d2d33;
$grey-darkest:      #17171a;
$black:             #000;
$orange-lighter:    #ffd2b2;
$orange-light:      #ffa666;
$orange:            #ff791a;
$orange-dark:       #e66000;
$orange-darker:     #cc5500;
$turquoise-lighter: #a2f2fa;
$turquoise-light:   #50d7e5;
$turquoise:         #0098a8;
$turquoise-dark:    #00818f;
$turquoise-darker:  #006a75;

// // brand colours
// $b-red: #ff0000;

$bv-yellow: #ffcb05;
$bv-red: #ed1c24;
$bv-green: #01954A;
$bv-blue: #004794;
$bv-lightgrey: #eee;
$bv-bluegrey: #222632;
$bv-fontgrey: #909298;
