
<div class="vpad--xxl  bv-parallax" style="background-image:url({{site.img}}/content/empfehlung/hero.jpg); background-repeat:no-repeat; background-size:cover; background-position: center;">
  <div class="container">
    <div class="row row--3-3-3-3 row--gutters text--white">
      <div class="col--lg--3 bv-img-insider boxpad--lg">
        <div class="bg-img bg-img--1-1 bv-img-circle " style="background-image: url('{{site.img}}/content/empfehlung/kristof.jpg'); margin-top:0px; " ></div>
      </div>
      <div class="col col--9 bv-mob-center boxpad--lg" style="margin-top:-15px;">
        <div class="space--md"></div>
        <h3 class=" title title--md ">Empfehlung von Nikon-Fotograf Kristof</h3>
            <div class="space--md"></div>
        <div class=" text text--xl text--italic ">„{{page.tipps.description}}“</div>
        <div class="space--lg"></div>
          <h3 class=" title title--xxs text--bold text--upper ">Fototipp: </h3>
          <div class="space--xs"></div>
        <div class=" text text--xl" >{{page.tipps.fototipp}}</div>
      </div>
    </div>
  </div>
</div>
