
  <div class="bg--black">
    <div class="harvey">

      <a href="javascript:void(0);"  data-modal-item="{{page.id}}-video" class="harvey__img js-open-modal journey__video" style="background-image: url({{site.img}}/content/promo-nikon-max.jpg);" >
        <span class="bg-img__play bg-img--zoom"></span>
      </a>

      <div class="harvey__text text--left ">
        <h3 class="title title--md text--bold bv-divider">{{page.camera.model}}</h3>
        <p class="text--lg">{{page.camera.description}}</p>
        <div class="space--md"></div>
        <a href="https://goo.gl/RF1cxe"  class=" btn btn--yellow" target="_blank">Mehr erfahren</a>
      </div>

    </div>
  </div>
