<div class="vpad--xxxxl bg--img" style="background-image: url('{{site.img}}/content/gewinnspiel/hero.jpg'); background-position: center 20% ; ">
  <div class="container container--xl" style="">
    <div class="text--center text--white">
      <h1 class="title title--xxxl" style="font-family: 'Source Serif Pro', Georgia, serif; ">Gewinnspiel</h1>
        <div class="space--md"></div>
      <div class="width width--lg">
        <p class="title title--sm text--normal">Gewinnen Sie eine Fotoreise nach Südafrika – mit Ihrer eigenen Nikon Kamera.</p>
      </div>
      <div class="space--md"></div>
      <div class="width width--md ">
  <a href="{{site.baseurl}}{{destination.url}}" class="btn btn--yellow">Mehr erfahren</a>
      </div>
    </div>
  </div>
</div>
