---
layout: default
id: overview
nav: true
nav-order: 1
title: Übersicht

banner:
  title: Südafrika
  title-sub: Wild auf Südafrika – Starten Sie jetzt Ihre Safari!
  title-size: banner-title--xxl



intro-title: "Auf Safari in der Regenbogennation"
intro: "Eine Safari ist mehr als nur Wildtier&shy;beobach&shy;tung. In Südafrika gehen Sie auf Großstadt-Safari in Johannes&shy;burg, auf Gourmet-Safari in den Wine&shy;lands und auf Küsten&shy;safari entlang der über 3.000 Strand&shy;kilometer. Zusammen mit NIKON Fotograf Kristof Göttling gehen wir der faszinierenden Rege&shy;bogen&shy;nation auf die&nbsp;Spur. "

bg-color: "bg--white"

---

<div class="vpad--xxl bg--darkblue text--white bv-parallax"  style="background-image: url('{{site.img}}/icons/bg-pattern-transp-50pc-2000px.png');">
  <div class="container">
    <div class="width width--lg">
       <div class="text text--xl">
         <h2 class="title title--lg text--center text--bolder">{{page.intro-title}}</h2>
         <div class="space--sm text--normal text--justify"> <p>{{page.intro}}</p></div>
       </div>
    </div>
  </div>
</div>


    {% assign destinations = site.html_pages | where: 'content-pages', 'true'  | sort:'nav-order' %}
<div class="bg--beige{% cycle '', 'bob--swap' %} bv-parallax"  style="background-image: url('{{site.img}}/icons/bg-pattern-transp-50pc-2000px.png'); ">
    <div class="container vpad--xxl">
    {% for destination in destinations %}



    <div class="bob {% cycle '', 'bob--swap' %}">
      <div class="bob__img">
        <a href="{{site.baseurl}}{{destination.url}}" class="bg-img bg-img--4-3 bv-box-shadow bv-mob-rotation" style="background-image: url('{{site.img}}/content/{{destination.id}}/hero.jpg'); border: 10px solid #fff; {{destination.rotation}}"></a>
      </div>
      <div class="bob__text ">
        <div class="space--sm"></div>
        <h2 class="title title--sm text--bolder text--upper">{{destination.title}}</h2>
        <div class="space--xxs"></div>
        <p class="text text--lg ">{{destination.summary}}</p>
        <div class="space--lg"></div>
        <a href="{{site.baseurl}}{{destination.url}}" class="btn btn--blue">{{destination.cta}}</a>
      </div>
    </div>



    {% endfor %}
      </div>
</div>


  {% include page/promo-signup.html %}


<div class="vpad--sm bg--light bv-parallax" style="background-image: url('{{site.img}}/icons/bg-pattern-transp-2000px.png');">
  <div class="container">
        <div class="space--xl"></div>
       <div class="text text--xxxl text--center">
         <h2 class="title title--lg text--bolder">Angebote</h2>
       </div>
  </div>
</div>


  {% include offer/all-offers.html %}
