---
layout: default
id: wildlife
title: Wildlife
nav: true
nav-order: 3
content-pages: true

banner:
  title: Wildlife & Safari
  title-sub: Auf der richtigen Fährte
  title-size: banner-title--xl
  bg-hero: "background-position: 65% bottom;"

summary: "Auge in Auge mit Dickhäutern, auf der Fährte von Geparden und Löwen: erleben Sie tierische Abenteuer in Nationalparks und privaten Game Reserves, tauchen Sie ab zu bunten Korallen und lassen Sie sich von eindrucksvollen Panoramen den Atem verschlagen."
cta: "Mehr erfahren"

intro-title: "Drei der fazinierendsten Nationalparks"
intro: "Der Krüger-Nationalpark ist ein Begriff und eine Institution. Unter den 19 Nationalparks in Südafrika gibt es aber genug andere, die sich ihm zur Seite stellen können. Mögen Sie Elefanten, Schildkröten oder Flamingos? Weiterlesen,&nbsp;bitte!"
rotation: "transform: rotate(-2deg);"

parks:

  title: Drei der faszinierendsten Nationalparks
  description: Der Krüger-Nationalpark ist ein Begriff und eine Institution. Unter den 19 Nationalparks in Südafrika gibt es aber viele weitere Parks, die nicht weniger reizvoll sind. Mögen Sie Elefanten, Schildkröten oder Flamingos? Weiterlesen,&nbsp;bitte.
  items:

    - title: 1. Krüger Nationalpark
      id: one
      description: "Das größte und bekannteste Wildschutzgebiet Südafrikas liegt im Nordosten, in den Provinzen Mpumalanga und Limpopo. Der Krüger-Nationalpark ist in jeglicher Hinsicht ein Gigant: 1,9 Millionen Hektar groß und durch ein 2.500 Kilometer langes Netz von Straßen erschlossen. Hier haben Sie die Chance große und kleinere Raubkatzen, Elefanten, Giraffen und Nilpferde, Büffel und Krokodile zu beobachten – kurzum alle Tiere, die man im südlichen Afrika erwartet. Mindestens 3 Nächte sollten Sie für einen Besuch einplanen. Obwohl jede Jahreszeit lohnend ist, ist im südafrikanischen Sommer (Dezember bis Februar) die Chance, Tierbabys zu sehen, größer."

    - title: "2. Addo Elephant National Park"
      id: two
      description: "Knappe 70 Kilometer nördlich von Port Elizabeth  an der Garden Route im Eastern Cape liegt der Addo Elephant National Park, der sich dem Schutz der Dickhäuter widmet. Nachdem 11 Elefanten im Jahre 1931 den Grundstock des Parks bildeten, streifen heute bereits wieder mehr als 600 Dickhäuter durch das Schutzgebiet, zusammen mit Büffeln und zahlreichen Antilopenarten. Wenn Sie von den friedvollen Landriesen doch genug haben sollten, schafft die Küste mit Walen, Haien und Robben Abhilfe. Wanderer werden vom Zuurberg und von der Dünenlandschaft Alexandrias entzückt sein: 32 Kilometer sind auf dem Alexandria Hiking Trail zurückzulegen, jeder davon beeindruckender als der vorherige."

    - title: "3. iSimangaliso Wetland Park"
      id: three
      description: "Safari kann jeder - ein ganz unvergleichliches Erlebnis wartet dagegen an der subtropischen Küste von KwaZulu-Natal im Osten Südafrikas. Das UNESCO-Weltnaturerbe des iSimangaliso Wetland Parks besteht aus acht zusammenhängenden Ökosystemen, darunter Küstenwald, die Sodwana Bay, bestes Tauchrevier des Landes und Heimat des Quastenflossers, Dünenwälder und mehr. Nilpferde leben neben Krokodilen, der Lake St. Lucia ist ein Magnet für Pelikane und Flamingos, Dutzende an Frosch- und hunderte Vogelarten vervollständigen die Liste. "


safaris:

  title: Unterwegs auf Safari
  description: "Für die meisten Reisenden ist eine Safari einer der großen Höhepunkte ihrer Südafrikareise. Es gibt mehrere Arten und Weisen, sich den wilden Tieren zu nähern, in jedem Fall ist ein Adrenalinrausch vorprogrammiert."




---

<!--
<div class="vpad--xxl text--white bg--turquoise">
  <div class="container">
    <div class="width width--lg">
       <div class="text text--xl text--center">
         <h2 class="title title--lg text--bolder">{{page.intro-title}}</h2>
         <div class="space--sm text--normal text--italic"> <p>{{page.intro}}</p></div>
       </div>
    </div>
  </div>
</div>-->

<div class="bv-parallax" style="background-image:url({{site.img}}/content/{{page.id}}/parks/hero.jpg); background-repeat:no-repeat; background-size:cover; background-position: center;">
  <div class="vpad--xxxl">
    <div class="container">
      <div class="row row--justify row--xl-6-6 row--no-gutters " >
      <div class="col col--xl-8">
         <div class="text text--normal text--white text--white text--xl">
           <h2 class="title title--xl bv-headline-divider text--bolder">{{page.parks.title}}</h2>
           <div class="space--xs"></div>
           <p>{{page.parks.description}}</p>

         </div>
      </div>
    </div>
  </div>
  </div>
</div>
<div class="bg--light bv-parallax" style="background-image: url('{{site.img}}/icons/bg-pattern-transp-2000px.png');">
{% for park in page.parks.items %}
    <div class="harvey {% cycle '', ' harvey--swap' %}">
      <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/parks/{{park.id}}.jpg');"></div>
      <div class="harvey__text text--justify boxpad--lg text text--xxl">
        <h2 class="title title--sm text--bolder text--upper">{{park.title}}</h2>
        <div class="space--xxs"></div>
        <p>{{park.description}}</p>
        <div class="space--lg"></div>
      </div>
    </div>
 {% endfor %}
</div>


 <div class="bv-parallax" style="background-image:url({{site.img}}/content/{{page.id}}/safari/hero.jpg); background-repeat:no-repeat; background-size:cover; background-position: center;">
   <div class="vpad--xxxl">
     <div class="container">
       <div class="row row--justify row--xl-6-6 row--no-gutters " >
       <div class="col col--xl-8">
       <div class="space--xxxl"></div>
          <div class="text text--normal text--white text--xl">
            <h2 class="title title--xl bv-headline-divider text--bolder">{{page.safaris.title}}</h2>
            <div class="space--xs"></div>
            <p>{{page.safaris.description}}</p>
            <div class="space--xxxl"></div>
          </div>
       </div>
     </div>
   </div>
   </div>
 </div>

 <div class="bg--beige bv-parallax" style="background-image: url('{{site.img}}/icons/bg-pattern-transp-50pc-2000px.png');">
  <div class="container vpad--xl">
    <div class="row row--xl-4-4-4 row--lg-6-6  " >

      {% for safari in site.data.sections %}
        <div class="col">
          <div id="tracking-poi-{{safari.id}}" class="bg--white bv-thumb-zoom js-open-modal boxpad--sm " data-open-modal="{{safari.id}}" style="cursor: pointer; {{safari.rotation}} ">
            <div class="bg-img bg-img--4-3 bg-img--md-1-1 bg-img--lg-1-1 bv-thumb-vignette" style="background-image: url('{{site.img}}/content/wildlife/safari/{{safari.id}}.jpg');"></div>
            <div class="space--sm"></div>
            <div class="vpad--xxs bg--white text text--serif text--xxl text--center">{{safari.title}}</div>
          </div>
        </div>
      {% endfor %}

    </div>
    <div class="space--xl"></div>
  </div>
</div>


{% include page/promo-signup.html %}
