---
layout: default
id: wildlife
title: Wildlife
nav: true
nav-order: 3
content-pages: true

banner:
  title: Wildlife
  title-sub: Sonnencreme nicht vergessen
  title-size: banner-title--xl
  bg-hero: "background-position: 65% bottom;"

summary: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum. Consequuntur recusandae nemo, magni excepturi laborum nihil aperiam est!"
cta: Sonne tanken

intro-title: "Wildlife"
intro: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum. Consequuntur recusandae nemo, magni excepturi laborum nihil aperiam est!"


parks:

  title: Nationalparks
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laudantium maxime est soluta expedita inventore corrupti ipsam illo, eligendi sit id accusamus
  items:

    - title: Krüger Nationalpark
      id: one
      description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum. Consequuntur recusandae nemo, magni excepturi laborum nihil aperiam est!"

    - title: "Addo Elephant Nationalpark"
      id: two
      description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum. Consequuntur recusandae nemo, magni excepturi laborum nihil aperiam est!"

    - title: "iSimangaliso Wetland Park"
      id: three
      description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum. Consequuntur recusandae nemo, magni excepturi laborum nihil aperiam est!"


safaris:

  title: Nationalparks
  description: Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eos rerum optio est consequuntur ut quibusdam soluta molestias perspiciatis, dolor corrupti culpa labore aspernatur voluptates, ipsum laborum eligendi placeat et fugiat sit, quidem, totam iure ea ad velit! Aliquid, placeat, ea. Amet accusamus voluptas odit harum necessitatibus consequatur delectus autem rerum architecto voluptatum. Consequuntur recusandae nemo, magni excepturi laborum nihil aperiam est!




---


<div class="vpad--xxl bg--light">
  <div class="container">
    <div class="width width--lg">
       <div class="text text--xl text--center">
         <h2 class="title title--md text--semibold text--bv-darkgrey">{{page.intro-title}}</h2>
         <div class="space--xs"></div>
         <p>{{page.intro}}</p>
       </div>
    </div>
  </div>
</div>



{% for park in page.parks.items %}
    <div id="{{page.id}}" class="harvey{% cycle '', ' harvey--swap' %}">
      <div class="harvey__img" style="background-image: url('{{site.img}}/content/{{page.id}}/{{park.id}}.jpg');">

      </div>
      <div class="harvey__text boxpad--lg text text--xxl">
        <h2 class="title title--md bv-headline-divider ">{{park.title}}</h2>
        <p>{{park.description}}</p>
        <div class="space--lg"></div>

      </div>
    </div>
 {% endfor %}


 <div class="bg--light">
   <div class="container  width width--lg">
     <div class="space--xxl"></div>
        <div class="text text--xl text--center">
          <h2 class="title title--md text--semibold text--bv-darkgrey">{{page.safaris.title}}</h2>
          <div class="space--xs"></div>
          <p>{{page.safaris.description}}</p>
        </div>

   </div>
 </div>


 <div class="bg--light">
  <div class="container">
    <div class="space--xxl"></div>
      <div class="row row--xl-4-4-4 row--lg-6-6 row--gutters-sm " >
      {% for safari in site.data.sections %}
        <div class="col">
              <div class="bg-img bg-img--16-9 bg-img--md-1-1 bg-img--lg-4-3 bg-img--xxl-1-1 shadow" style="border: 5px solid #fff; border-radius: 6px; background-image: url('{{site.img}}/content/wildlife/safari/{{safari.id}}.jpg');">
                <a id="track-poi-{{safari.id}}" href="#" class="bg-img__link js-open-modal" data-open-modal="{{safari.id}}"></a>
                <div class="bg-img__bg-overlay" style="border-radius: 6px;"></div>
                <div class="bg-img__content">
                  <div class="title title--sm">{{safari.title}}</div>
                </div>
              </div>
          </div>
      {% endfor %}
    </div>
    <div class="space--xxl"></div>
  </div>
</div>
