---
layout: default
id: reiserouten
title: Reiserouten
nav: true
nav-order: 4
content-pages: true

banner:
  title: Roadtrips
  title-sup: Immer der Straße nach
  title-size: banner-title--xl
  bg-hero: "background-position: 30% center;"


summary: "Viele Wege führen zum südafrikanischen Reiseglück. Von der klassischen Garden Route über einen Canyon-Roadtrip bis zum Geheimtipp Elephant Coast: so entdecken Sie Südafrika auf vier Rädern."
cta: "Mehr erfahren"

intro-title: ""
intro: "Die beste Art, viele Highlights in einer Reise abzudecken ist immer noch der Roadtrip. Hierfür ist Südafrika prädestiniert und neben der klassischen Gardenroute gibt es mindestens noch zwei weitere Routen, die Ihnen den Atem verschlagen werden.  "
rotation: "transform: rotate(2deg);"

---









<div id="bv-roadtrips">
{% include page/reiserouten/reiserouten1.html %}
{% include page/reiserouten/reiserouten2.html %}
{% include page/reiserouten/reiserouten3.html %}
</div>

<div id="bv-road-ie">
  {% include page/reiserouten/reiserouten1-ie.html %}
  {% include page/reiserouten/reiserouten2-ie.html %}
  {% include page/reiserouten/reiserouten3-ie.html %}
</div>

{% include page/promo-signup.html %}


<script>
  var elem = document.getElementById("bv-road-ie");
  var elem2 = document.getElementById("bv-roadtrips");
  var isIE11 = !!window.MSInputMethodContext && !!document.documentMode;

  if (isIE11 === true) {
        elem2.parentNode.removeChild(elem2);
  }else{
      elem.parentNode.removeChild(elem);
  }
</script>
