// background styles

.bg {
  &--white { background-color: $white; }
  &--light { background-color: $grey-lightest; }
  &--dark  { background-color: $grey-dark; }
  &--darker  { background-color: $grey-darker; }
  &--turquoise  { background-color: $turquoise; }
  &--turquoise-light  { background-color: $turquoise-light; }
  &--blue-grey  { background-color: $bv-bluegrey; }
  &--blue  { background-color: $bv-blue; }
  &--darkblue  { background-color: $bv-darkblue; }
  &--green  { background-color: $bv-green; }
  &--red  { background-color: $bv-red; }
  &--yellow { background-color: $bv-yellow; }
  &--beige { background-color: $bv-beige; }
  &--bv-orange { background-color: $bv-orange; }
  &--lightgreen { background-color: $bv-lightgreen; }
  &--bv-accordion { background-color: $bv-accordion-color; }
  &--black  { background-color: rgba($black, 1);
    @include bp($lg){
      background-color: rgba($black, 1);
    }
  }
  &--img   { @include background-attributes; }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    @include background-attributes;
    background-color: $grey-darker;
  }
}
