.btn {
  position: relative;
  display: inline-block;
  padding: $s1 $s3;
  color: $white;
  font-weight: 700;
  font-size: $s-1;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .13em;
  border-radius: 3px;
  cursor: pointer;
  @include transition;
  &--sm { padding: $s0 $s3; font-size: $s-2; }
  &--lg { padding: $s2 $s6; font-size: $s-1; }
  &--orange { background-color: $orange;
    &:hover { background-color: $orange-dark; }
  }
  &--turquoise { background-color: $turquoise;
    &:hover { background-color: $turquoise-dark; }
  }
  &--white { background-color: $white; color: $black;
    &:hover { background-color: rgba($white, .8); }
  }
  &--yellow { background-color: $bv-yellow; color: $black;
    &:hover { background-color: rgba($white, 1); }
  }
  &--blue { background-color: $bv-darkblue; color: $white;
    &:hover { background-color: rgba($bv-darkblue, .8); }
  }
  &--outline {
    color: inherit;
    //background-color: $white;
    &:before {
      // button border within original padding
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-width: 1px;
      border-style: solid;
      border-radius: inherit;
      @include transition;
    }
  }
  &--outline-white { //color: $orange;
    &:before { border-color: $white;}
    &:hover {
      color: $black;
      background-color: $white;
      &:before { border-color: $white; }
    }
  }
  &--outline-orange { //color: $orange;
    &:before { border-color: $orange;}
    &:hover {
      color: $white;
      background-color: $orange;
      &:before { border-color: $orange; }
    }
  }
  &--outline-blue { //color: $orange;
    &:before { border-color: $bv-darkblue; }
    &:hover {
      color: $white;
      background-color: $bv-darkblue;
      &:before { border-color: $bv-darkblue; }
    }
  }
  &--outline-turquoise {// color: $turquoise;
    &:before { border-color: $turquoise; }
    &:hover {
      color: $white;
      background-color: $turquoise;
      &:before { border-color: $turquoise; }
    }
  }
}
