


<div class="vpad--lg bg--white" id="three">
    <div class="container">
      <div class="space--xl"></div>
    <div class="width width--xxl">
       <div class="text text--xl text--center">
         <h2 class="title title--md text--semibold text--upper text--bv-grey">Toskanische Highlights</h2>
       </div>
    </div>
  </div>
</div>


<div class="vpad--md" style="background-image: url('{{site.img}}/content/{{page.id}}/slider3/img1.jpg'); background-size: cover; background-position: center top;">
<div class="container ">
    <div class="space--xxxl vpad--xl bv-mob-hide"></div>
    <div class="space--xxxl"></div>
    <div class="space--xxxl"></div>
    <div class="space--xxxl"></div>
    <div class="width width--xxl text--white" >
      <div class=" text--left bg--black boxpad--xxl">
        <h1 class="title title--sm text--semibold text--upper ">Kunst für die Welt: Florenz und&nbsp;Siena</h1>
        <p class="text text--lg ">Ob Startort oder Zwischenetappe: Toskanas Kunststädte Florenz und Siena sollten bei jeder Rundreise dabei sein. Florenz begeistert mit dem Duomo und den Uffizien, während Siena ihre historische Altstadt, die zum UNESCO-Weltkulturerbe ernannt wurde, in die Waagschale wirft. Mittelalter oder Renaissance? Beides!</p>
      </div>
     </div>

  </div>
</div>
