



<div class="vpad--lg bg--white" id="two">
    <div class="container">
      <div class="space--xl"></div>
    <div class="width width--xxl">
       <div class="text text--xl text--center">
         <h2 class="title title--md text--semibold text--upper text--bv-grey">Küstenspektakel in Irland</h2>
       </div>
    </div>
  </div>
</div>


<div class="vpad--md" style="background-image: url('{{site.img}}/content/{{page.id}}/slider2/img1.jpg'); background-size: cover; background-position: center top;">
<div class="container ">
    <div class="space--xxxl vpad--xl bv-mob-hide"></div>
    <div class="space--xxxl"></div>
    <div class="space--xxxl"></div>
    <div class="space--xxxl"></div>
    <div class="width width--xxl text--white" >
      <div class=" text--left bg--black boxpad--xxl">
        <h1 class="title title--sm text--semibold text--upper ">Im hohen Norden</h1>
        <p class="text text--lg ">Startpunkt ist der äußerste Norden Irlands, im County Donegal. Die unberührte Gegend ist geographisch weitgehend isoliert vom Rest des Landes, bietet dafür aber Geschenke wie die Klippen von Slieve League, die mit 600 Metern zu den höchsten Klippen Europas gehören. Und darüber heißt es: Vorhang auf für Polarlichter, die oft den Himmel von Donegal veredeln.</p>
      </div>
     </div>

  </div>
</div>
