---
layout: default

---


<div class="vpad--xxl bg--darkblue bv-parallax" style="background-image: url('{{site.img}}/icons/bg-pattern-transp-50pc-2000px.png');">
  <div class="container">
    <div class="width width--lg text--white">
       <div class="text text--xxxl text--justify">
         <h2 class="title title--lg text--bolder">{{page.intro-title}}</h2>
         <div class="space--sm text--normal text--center"> <p>{{page.intro}}</p></div>
         <div class="space--sm"></div>
         <div class="space--lg text--center">
        <a href="#entry-form" class="btn btn--lg btn--white ">Jetzt teilnehmen</a></div>
       </div>
    </div>
  </div>
</div>

    {% for prize in page.prizes %}

<div class=" bg--light vpad--lg bv-parallax" style="background-image: url('{{site.img}}/icons/bg-pattern-transp-2000px.png');">
      <div class="container">
    <div class="bob  {% cycle '', 'bob--swap' %} ">
      <div class="bob__img">
        <a href="#enter"  class="bg-img bg-img--4-3" style="background-image:url({{site.img}}/content/gewinnspiel/{{prize.id}}.jpg);" ></a>
      </div>

      <div class="bob__text text--lg">
        <h3 class="title title--sm text--bolder">{{prize.title}}</h3>
        <div class="space--xs"></div>
        {{prize.content}}
        <div class="space--lg"></div>
        <a href="#enter" class="btn btn--blue">{{prize.enter-cta}}</a>
        {% if prize.external-cta %}
  <a href="{{prize.external-link}}" target="_blank" class="btn  btn--outline btn--outline-blue" style="">{{prize.external-cta}}</a>
{% endif %}
      </div>
    </div>
  </div>

</div>
    {% endfor %}



<!-- Competition Form ---->



<div class="vpad--xl bg--light">
  <div class="container">
    <div id="enter"></div>
    <h3 class="title title--xl text--bolder text--center">Nehmen Sie jetzt <br>am Gewinnspiel teil</h3>
    <div class="space--xl"></div>
    <div id="entry-form" class="vpad--md">
      {% assign form = page.competition-form %}
      <form class="form boilerform competition-form" action="{{form.post-url}}" method="POST" data-expires="{{form.expiry-date}}" novalidate>
        {% include form/messages.html %}
        <div class="form__content width width--md">
          {% for item in form.fields %}
            <div class="form__input js-form-input">
              {% case item.type %}
                {% when 'text' %}
                  {% include form/text.html data=item %}
                {% when 'text-long' %}
                  {% include form/text-long.html data=item %}
                {% when 'email' %}
                  {% include form/email.html data=item %}
                {% when 'radio' %}
                  {% include form/radio.html data=item %}
                {% when 'checkbox' %}
                  {% include form/checkbox.html data=item %}
                {% when 'select' %}
                  {% include form/select.html data=item %}
              {% endcase %}
            </div>
          {% endfor %}
          <div class="space--sm"></div>
          <p class="text--sm text--normal">{{form.terms}}</p>
          <div class="space--sm"></div>
          <input class="js-form-entry-time" id="entry-time" name="entry-time" type="hidden">
          <button type="submit" class="c-button" disabled>{{form.submit}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<div class="vpad--xxxxl bg--img" style="background-image: url('{{site.img}}/content/gewinnspiel/banner.jpg'); background-position: center 20%;">
  <div class="container container--xl">
    <div class="text--center text--white">
<div class="space--xxxl"></div>
<div class="space--xxxl"></div>
<div class="space--xxxl"></div>
    </div>
  </div>
</div>
