<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body class="no-js">

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% if page.id == 'overview'  %}
    {% include page/banner-video.html %}
    {% else %}
    {% include page/banner.html %}
    {% endif %}

    <div class="content-spacing section-spacing">
      {{ content }}
    </div>

    {% if page.layout == 'default'  %}
      {% include page/promo-signup.html %}
    {% endif %}


    {% include page/footer.html %}

    {% include modal/sections.html %}

  </body>

</html>
